.card {
    display: inline-block;
    text-align: center;
    width: 3em;
    font-size: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 1em;
    user-select: none;
    background-color: antiquewhite;
   }

   .activeCard {
       color:  red;
       background-color:aqua;
   }

    

@media only screen and (max-width:2100px) {
    body {
      background-color: lightblue;
    }

  .maingame{
    justify-content:center ;
    background-color:darkcyan;
    font-weight: 400;
    color: bisque;;
    
}
.main{
    background-color:darksalmon;
    margin-left: 10em;   
    margin-right: 17em;
    justify-content:center;
}
}