.card {
    display: inline-block;
    text-align: center;
    width: 3em;
    font-size: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 1em;
    user-select: none;
    background-color: antiquewhite;
   }

   .activeCard {
       color:  red;
       background-color:aqua;
   }
.maingame{
    background-color:darkcyan;
    margin-left: 10em;
    font-size: larger;
    font-weight: 400;
    margin-right: 45em;
    color: bisque;
}
.main{
    background-color:darksalmon;
    margin-left: 10em;   
    margin-right: 17em;
    
}